<div class="main-container">
    <main id="primary" class="site-main">
      <header class="page-header">
        <h1 class="page-title">
          {{ wp_title }}
        </h1>
      </header>
      {% for brand in brands %}
        <article class="brand">
          <header class="brand-header">
            <h2 class="post-title entry-title">
              {{ brand.title }}
            </h2>
          </header>
          <div class="brand-main">
            <div class="brand-content">
              {{ brand.content }}
            </div>
          </div>
        </article>
      {% else %}
        {{ function('get_template_part', 'template-parts/content', 'none') }};
      {% endfor %}
      <nav class="pagination-container">
        <ul class="pagination-list">
          {% for page in posts.pagination.pages %}
            <li class="pagination-item">
              {% if page.name %}
                <a href="{{ page.link }}"
                  class="{{ page.class }}"
                  {{ page.current ? 'disabled' : '' }}>
                  {{ page.title }}
                </a>
              {% else %}
                {{ page.title }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </main>
    <!-- #main -->
  </div>
  